html {
    font-family: 'Public Sans', sans-serif;
}

h1 {
    font-weight: bolder;
    text-decoration: underline;
}

h2 {
    font-weight: 700;
}

.heading {
    text-shadow: 2px 1px 5px purple;
    text-transform: uppercase;
}

.note {
    font-weight: bold;
    font-style: italic;
}

.todo-item {
    text-decoration: line-through;
}

p {
    font-weight: lighter;
}

li {
    font-weight: 100;
}